body {
  background-color: rgb(21,21,31);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }

.grid-game {
    background-color: rgb(21,21,31);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav"
    "spin spin spin spin spin spin spin spin spin spin spin spin"
    "desc desc desc desc desc desc desc desc desc desc desc desc"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  

  .grid-home {
    background-color: rgb(21,21,31);
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
    "topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav topnav"
    "case case case case case case case case case case case case"
    "open open open open open open open open open open open open"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  }

  /* Top Naviagtion Section*/
.topnav {
    grid-area: topnav;
    background-color: rgb(21,21,31);
    overflow: hidden;
    width:600px;
    margin:0 auto;
    padding-bottom: 100px;
  }

  /* Style the topnav links */
.topnav a {
    background: rgb(21,21,31);
    border-right: 2px solid rgb(97,97,107);
    color: rgb(186,187,193);
    display: block;
    float: left;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    width: 100px;   
}
.topnav a:first-child{
  border-left: 2px solid rgb(97,97,107);
}

/* Change color on hover */
.topnav a:hover {
  border-bottom: 2px solid rgb(97,97,107);
  }

/* Header/Blog Title */
.header {
    height: 300px;
    grid-area: header;
    background-color: rgb(21,21,31);
    color: rgb(0,183,255);
  }
  
  /* Spacer with motto statement */
.desc{
    grid-area: desc;
    background-color: rgb(21,21,31);
    color: rgb(244,80,51);
    padding: 20px;
    text-align: center;
  }

/* About section */
.spin{
    margin-top: 100px;
    height: 300px;
    width: 99vw;
    grid-area: spin;
    background-color: rgb(21,21,31);
  }

  .spacer{
    padding: 20px;
    grid-area: spacer;
    background-color: rgb(21,21,31);
    color: white;
    text-align: center;
  }

  .footer {
    min-height: 100px;
    max-height: 200px;
    grid-area: footer;
    background-color: rgb(21,21,31);
    color: white;
    text-align: center;
    margin-top: 80px;
  }
  
  .item {
    height: 200px;
    width: 300px;
    /*background-image: url('images/items/Apprentice1Element5x.png');*/
    background-color: rgb(10,100,100);
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    display: inline-block;
  }

  .footer-column1 {
    height: 100px;
    width: 20%;
    text-align: left;
    color: rgb(56,57,62);
    float: left;
    margin-left: 25%;
  }
  .footer-column2 {
    height: 100px;
    width: 20%;
    color: rgb(56,57,62);
    text-align: left;
    float: left;
  }
  .footer-column3 {
    height: 100px;
    width: 20%;
    color: rgb(56,57,62);
    text-align: left;
    float: left;
  }
  
  .footer-column1 h3{color: rgb(218,219,224);}
  .footer-column2 h3{color: rgb(218,219,224);}
  .footer-column3 h3{color: rgb(218,219,224);}
  .footer-column1 a{color: rgb(56,57,62);}
  .footer-column2 a{color: rgb(56,57,62);}
  .footer-column3 a{color: rgb(56,57,62);}

  #spinbutton{
    background-color:green;
    color: white;
    font-size: 18pt;
    padding-inline: 40px;
    padding-block: 10px;
  }

.case{
  color: white;
  text-align: center;
}

.case-left{
  float:left;
  width: 33%;
  padding: 50px;

}
.case-center{
  float: left;
  width: 33%;
  padding: 50px;
  
}
.case-right{
  float:left;
  width: 33%;
  padding: 50px;
  
}