<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTS Loot</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    



<body>
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;float:right;">Login</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/action_page.php" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
    
<div class = "grid-home">
    
    

<!--Fixed position top navigation bar-->
<div class="topnav">
    <a href="/">HOME</a>
    <a href="/cases">CASES</a>
    <a href="/history">HISTORY</a>
    <a href="/faq">FAQ</a>
</div>
 
<!--Footer section-->
<div class="footer">

  <div class="footer-column1"> 
    <h3>MTSARK.co.uk</h3>
    
    <h5><a href="https://www.mtsark.co.uk/">Main website</a></h5>
    <h5><a href="https://discord.com/invite/mtsark">Join our Discord</a></h5>
    <h5><a href="mailto:test@hotmail.com">Contact us</a></h5>
  </div>

  <div class="footer-column2">
    <h3>Follow us!</h3>
    <h5><a href="https://www.youtube.com/channel/UCtz1f9QiMeP-2XYyBoQvLZQ?view_as=subscriber">YouTube</a></h5>
    <h5><a href="https://twitter.com/officialmtsark">Twitter</a></h5>
    <h5><a href="https://www.twitch.tv/mtsark">Twitch</a></h5>
  </div>
  
  <div class="footer-column3">
    <h3>Copyright & More</h3>
    <h5>2020 © MoreThanSurvivors™</h5>
    <h5><a href="https://www.mtsark.co.uk/privacy-policy">Privacy policy</a></h5>
  </div>
</div>    
    
    
    
    
    
    
 <!-- End grid div -->   
</div>
              
</body>
</html>