<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTS Loot</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    


<body>
    
    
<div class = "grid-home">
    
    

<!--Fixed position top navigation bar-->
<div class="topnav">
    <a href="/">HOME</a>
    <a href="/cases">CASES</a>
    <a href="#">HISTORY</a>
    <a href="#">FAQ</a>
</div>
 
<!--Footer section-->
<div class="footer">

  <div class="footer-column1"> 
    <h3>MTSARK.co.uk</h3>
    
    <h5><a href="https://www.mtsark.co.uk/">Main website</a></h5>
    <h5><a href="https://discord.com/invite/mtsark">Join our Discord</a></h5>
    <h5><a href="mailto:test@hotmail.com">Contact us</a></h5>
  </div>

  <div class="footer-column2">
    <h3>Follow us!</h3>
    <h5><a href="https://www.youtube.com/channel/UCtz1f9QiMeP-2XYyBoQvLZQ?view_as=subscriber">YouTube</a></h5>
    <h5><a href="https://twitter.com/officialmtsark">Twitter</a></h5>
    <h5><a href="https://www.twitch.tv/mtsark">Twitch</a></h5>
  </div>
  
  <div class="footer-column3">
    <h3>Copyright & More</h3>
    <h5>2020 © MoreThanSurvivors™</h5>
    <h5><a href="https://www.mtsark.co.uk/privacy-policy">Privacy policy</a></h5>
  </div>
</div>    
    
    
    
    
    
    
 <!-- End grid div -->   
</div>
              
</body>
</html>