<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTS Loot</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
</head>    


<body>
    
    
<div class = "grid-home">
    
    

<!--Fixed position top navigation bar-->
<div class="topnav">
    <a href="#">HOME</a>
    <a href="#">CASES</a>
    <a href="#">HISTORY</a>
    <a href="#">FAQ</a>
</div>
   
<!--Footer section-->
<div class="footer">

  <div class="column"> 
    <h3>MTSARK.co.uk</h3>
    <h5>Main website</h5>
    <h5>Join our Discord</h5>
    <h5>Contact us</h5> 
  </div>

  <div class="column">
    <h3>Follow us!</h3>
    <h5>YouTube</h5>
    <h5>Twitter</h5>
    <h5>Twitch</h5>
  </div>
  
  <div class="column">
    <h3>Copyright & More</h3>
    <h5>2020 © MoreThanSurvivors™</h5>
    <h5>Privacy policy</h5>
  </div>
</div>    
    
    
    
    
    
    
 <!-- End grid div -->   
</div>
              
</body>
</html>