<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MTS Loot</title>
    <!--Content Delivery Networks-->
    <script
			  src="https://code.jquery.com/jquery-3.5.1.js"
			  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
              crossorigin="anonymous">
            </script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>

    <!--    
https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array

https://stackoverflow.com/questions/14970556/how-do-i-randomize-the-order-of-the-images

https://duckduckgo.com/?t=lm&q=how+to+use+slick+carousel&iax=videos&ia=videos&iai=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DSzMChncXTgA
    -->
    <script type="text/javascript">
        var array = ['','',''];
        function shuffle(array) {
        var currentIndex = array.length;
        var temporaryValue;
        var randomIndex;
          while (0 !== currentIndex) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
          }
          return array;
        }
        var shuffled_images = shuffle(array);
        for(var i=0;i<3;i++) {
        document.getElementById('prize' + (i+1)).src = shuffled_images[i] ;
        }
        </script>
</head>    


<body>
    
    

  <div id="id01" class="modal">
  
    <form class="modal-content animate" action="/action_page.php" method="post">
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div>
  
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
          
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
  
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>
  
  <script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
  </script>
      
  <div class = "grid-game">
      
      
  
  <div class = "logo">
    <a href="https://www.mtsark.co.uk/">
      <div class="logo"><img src="/static/images/cases/MTSConsoleOnlyLogo.png" float="left" width="100" height="50"/></div>
    </a>
  </div>
  
  <!--Fixed position top navigation bar-->
  <div class="topnav">
      <a href="/">HOME</a>
      <a href="/cases">CASES</a>
      <a href="/history">HISTORY</a>
      <a href="/faq">FAQ</a>
  </div>
  
  <div class="login">
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;float:right;">Login</button>
  </div>
   
<!-- Spinning game -->
<div class="spin">
    <!--Prize items in an array-->
    <!--
        <div class="item" style="background-image: url('static/images/items/Apprentice1Element5x.png')"></div>
        <div class="item" style="background-image: url('static/images/items/Ramshackle3Paste1000x.png')"></div>
        <div class="item" style="background-image: url('static/images/items/Apprentice2BlackPearls1000x.png')"></div>
        <div class="item" style="background-image: url('static/images/items/Ramshackle9ARB500x.png')"></div>
        <div class="item" style="background-image: url('static/images/items/Mastercraft7Compound.png')"></div>
        <div class="item" style="background-image: url('static/images/items/Ramshackle8Silica1000x.png')"></div>
        <div class="item" style="background-image: url('static/images/items/Legendary1Element1000x.png')"></div>    
    -->
    
        <div><img src="static/images/items/Apprentice1Element5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Journeyman8Shotgun.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice10AssaultRifle.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle13StoneFoundation25x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice1Element5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle2Ingots1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Journeyman8Shotgun.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Journeyman8Shotgun.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice1Element5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ascendant2Shotguns5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice1Element5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Journeyman8Shotgun.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice10AssaultRifle.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle13StoneFoundation25x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice1Element5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle2Ingots1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Journeyman8Shotgun.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Journeyman8Shotgun.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice1Element5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle9ARB500x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle3Paste1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Apprentice2BlackPearls1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ascendant2Shotguns5x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Mastercraft7Compound.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Ramshackle8Silica1000x.png" width="300" height="200" background-position="center"/></div>
        <div><img src="static/images/items/Legendary1Element1000x.png" width="300" height="200" background-position="center"/></div>
    
</div>

<!-- Description Text -->
<div class="desc">
    <button id="spinbutton" onclick="spinScript()">SPIN</button>
    </div>
   
   
    
<!--Footer section-->
<div class="footer">

    <div class="footer-column1"> 
      <h3>MTSARK.co.uk</h3>
      
      <h5><a href="https://www.mtsark.co.uk/">Main website</a></h5>
      <h5><a href="https://discord.com/invite/mtsark">Join our Discord</a></h5>
      <h5><a href="mailto:test@hotmail.com">Contact us</a></h5>
    </div>
  
    <div class="footer-column2">
      <h3>Follow us!</h3>
      <h5><a href="https://www.youtube.com/channel/UCtz1f9QiMeP-2XYyBoQvLZQ?view_as=subscriber">YouTube</a></h5>
      <h5><a href="https://twitter.com/officialmtsark">Twitter</a></h5>
      <h5><a href="https://www.twitch.tv/mtsark">Twitch</a></h5>
    </div>
    
    <div class="footer-column3">
      <h3>Copyright & More</h3>
      <h5>2020 © MoreThanSurvivors™</h5>
      <h5><a href="https://www.mtsark.co.uk/privacy-policy">Privacy policy</a></h5>
    </div>
  </div>    
    
    
    
    
    
    
 <!-- End grid div -->   
</div>

<script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.min.js"></script>


<!--<script type="text/javascript">
    $(document).ready(function(){
    $('.spin').slick({
        slidesToShow: 7,
    });
    });
</script>
-->







<script type="text/javascript"> function spinScript(){

$(document).ready(function(){
    var snd = new Audio("/static/audio/MTSCaseSpinSound1.mp3");
    snd.play();
    snd.currentTime=0;
    $('.spin').slick({
    slidesToShow: 7,
    slidesToScroll: 43,
    infinite: true,
    autoplay: true,
    autoplaySpeed: 1,
    speed: 6000  
});
});
}
</script>
              
</body>
</html>